body {
    background-color: #ffffff;
    margin: 0;
}

.stripe-container {
    background-image: url("../assets/background_stripe.png");
    width: 100%;
}

.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.prompt-container {
    display: flex;
    flex-direction: column;
}

.title-prompt {
    font-size: 42px;
    font-weight: 100;
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 200px;
    color: darkslateblue;
}

.tile-group-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tile-group {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

.tile-footer {
    position: relative;
    width: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 38vh;
    width: 23vw;
    max-width: 500px;
    background-color: white;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 24px;
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
}

.tile p {
    margin: 0;
    font-size: 2.2vmax;
    color: #374957;
}

.tile img {
    height: 120px;
    width: 90px;
    margin-top: 14px;
}

.tile h5 {
    position: absolute;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    bottom: 0px;
    margin: 0;
}

.coming-soon-container {
    height: 50vh;
    margin-bottom: 2%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
}

.coming-soon-container h1 {
    margin: 0;
    font-size: 58px;
    font-weight: 400;
    color: #597bf6
}

.coming-soon-container img {
    max-width: 40vw;
}

.tile-heading-container {
    min-height: 50px;
    height: 5vmax;
}